body {
    background-color: blueviolet;
}

h1 {
    text-align: center;
    color: yellow;
}

h2 {
    text-align: center;
    font-size: 34px;
}

.YoutubeKanal {
    
}

img {
    width: 500px;
    border: 4px double black;
}

a {
    color: rgba(252, 227, 1, 0.966);
}

.div {
}

.div:hover {
    color: rgba(252, 227, 1, 0.774);
    text-decoration: none;
}
